:root {
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl-2: 2rem;
  --spacing-xxl-6: 3rem;

  --font-family-base: "Graphik", "PingFang TC", "Noto Sans TC", "sans-serif";
  --font-family-italic: "Graphik Italic", "PingFang TC", "Noto Sans TC",
    "sans-serif";
}

body {
  margin: 0;
  background-color: #f8f8f8;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.font-weight-bold {
  font-weight: bold;
}
//文章區塊內容
.block-section {
  margin-top: 40px;
  > h1 {
    color: #313131;
    margin-bottom: 40px;
  }
}
.block-section-content {
}
// 取代boostrap樣式
ul.slick-dots {
  bottom: 10px;
}
.animation-fadein {
  animation: fadeIn 0.5s forwards;
}
.animation-fadeout {
  animation: fadeOut 0.5s forwards;
}
.animation-slidein {
  animation: slideIn 0.5s forwards;
}
.animation-slideout {
  animation: slideOut 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20);
  }
}
